<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
    <MuridenTitle>Muriden</MuridenTitle>
    <Muriden.dirtmolePatch>Enable Dirtmole Patch</Muriden.dirtmolePatch>
    <Muriden.dirtmolePatch.Desc>If enabled, dirtmoles are patched to fit the Muriden aesthetic. (Requires Restart)</Muriden.dirtmolePatch.Desc>
    <Muriden.factionPatch>Patch Muriden Into Other Factions</Muriden.factionPatch>
    <Muriden.factionPatch.Desc>If enabled, Muriden are patched into various other factions (Requires Restart)</Muriden.factionPatch.Desc>
</LanguageData>